<h2>Nachhaltigkeit</h2>
<h3>Unser Konsumverhalten hat fatale Auswirkungen auf die Natur.</h3>

<div class="row">
    <div class="col-md-8">
        <h4>Der Fußabdruck nimmt stetig zu!</h4>
        <div class="media">
            <div class="media-body">
                <p>
                    Wenn der Resourcenverbrauch auf dem heutigen Niveau bleibt, werden wir in 20 Jahren etwa drei Erden benötigen. Ich frage mich, wie unsere Landschaften dann weltweit aussehen?
                <br/>
                <br/>
                    Der neueste <a href="http://www.wwf.de/living-planet-report/" target="_blank">Living Planet Report</a> bestätigt, dass wir weit über unsere Verhältnisse leben. Schon jetzt verbrauchen wir die 1,5 fachen Resourcen unserer Erde.
                </p>


            </div>
            <div class="media-right">
                <a href="http://www.wwf.de/fileadmin/fm-wwf/Publikationen-PDF/WWF_LPR_2012_Kurzfassung.pdf" target="_blank">
                    <img class="media-object img-thumbnail" src="images/banner_LPI.jpg" alt="Living Planet Report 2012">
                </a>
            </div>
        </div>
        <hr>
        <h4>Endlich anfangen!</h4>
        <div class="media">
            <div class="media-left">
                <img class="media-object img-thumbnail" src="images/banner_NSV.jpg" alt="Natiale Strategie">
            </div>
            <div class="media-body">
                <p>
                    Wir steuern somit auf ein großes Artensterben zu, dessen Ursachen wir selbst zu verantworten haben.
                <br/>
                <br/>
                    Unsere Bundesregierung verabschiedete daher 2007 ihre <a href="http://www.bmub.bund.de/themen/natur-arten-tourismussport/naturschutz-biologische-vielfalt/" target="_blank">Nationale Strategie zur biologischen Vielfalt</a>. Bis zum Jahr 2020 soll sich demnach die Natur auf 2 % unserer Landfläche wieder nach ihren eigenen Gesetzmäßigkeiten ungestört entwickeln können.
                </p>
            </div>
        </div>

        <div class="media">
            <div class="media-body">
                <p>
                    Seit dem Jahr 2000 arbeitet man in den Bundesländern bereits an der Umsetzung dieser Nationalen Biodiversitätsstrategie, was zur Ausweisung der Natura 2000 Gebiete geführt hat. In diesen Rückzugsgebieten soll sich die Natur erholen und so das Artensterben aufhalten.
                </p>
            </div>
            <div class="media-right">
                <a href="http://www.bfn.de/fileadmin/MDB/documents/themen/natura2000/BFN_Broschuere_deu_lang.pdf" target="_blank">
                    <img class="media-object img-thumbnail" src="images/banner_NAT2000.jpg" alt="Natura 2000 Gebiete">
                </a>
            </div>
        </div>


    </div>
    <div class="col-md-4">
        <h4>Senden Sie mir Ihre Meinung</h4>
        <div>
            <p>Im Spessart weitere Flächen aus der Nutzung nehmen?</p>
            <form action="mailto:frank@schroepfer-net.de" enctype="text/plain" method="post">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" class="form-control" id="name">
              </div>
                <div class="form-group">
                <label for="exampleInputEmail1">Email Adresse</label>
                <input type="email" name="mail" class="form-control" id="exampleInputEmail1" placeholder="Email" required>
              </div>
              <div class="form-group">
                <label for="textField">Meine Meinung</label>
                <textarea class="form-control" name="comment" rows="3" id="textField" required></textarea>
              </div>
              <button type="submit" name="submit" class="btn btn-default">Absenden</button>
            </form>
        </div>
        
        <h4>Schutz für den Spessart</h4>
        <div class="media">
            <div class="media-body">
                <p>
                    Seit dem Jahr 2000 arbeitet man in den Bundesländern bereits an der Umsetzung dieser Nationalen Biodiversitätsstrategie, was zur Ausweisung der Natura 2000 Gebiete geführt hat.
                </p>
            </div>
            <div class="media-right">

                <img class="media-object img-thumbnail" src="images/banner_GP_BUCHEN.jpg" alt="Greenpeace">

            </div>
        </div>
        <p>
            In diesen Rückzugsgebieten soll sich die Natur erholen und so das Artensterben aufhalten.
        </p>
        <a href="http://www.greenpeace.de/themen/waelder/defizit-im-deutschen-wald" target="_blank">Lesen sie das ganze Gutachten...</a>
    </div>

</div>