<h2>Der immerwährende Jahreskalender</h2>
<h3>soll ein Stück unserer Heimat greifbar machen.</h3>

<div class="row">
    <div class="col-md-12">
        <img src="images/Key_Kalender.png" alt="Kalender" class="img-responsive">
    </div>
</div>


<div class="row">
    <div class="col-md-8">
        <h4>Der Jahreskalender</h4>
        <!--<div class="row"></div>-->
        <div class="media">

            <div class="media-body">
                Wie oft passiert es, dass einem in der Hektik des Alltags der Blick für das Umfeld immer mehr verloren geht? Dabei müssen wir uns gar nicht weit weg bewegen. Die Schönheiten unserer Natur liegen direkt vor unserer Haustür.
            </div>
            <div class="media-right">
               
                    <img class="media-object img-thumbnail" src="images/kalender_Januar.png" alt="Kalender Januar">
                
            </div>
        </div>
        <hr>
        <div class="media">

            <div class="media-body">
                <h4 class="media-heading">Nehmen Sie sich ein Stück Natur mit nach Hause.</h4> Für jeden Tag hält der Tischkalender ein Stück Heimat für Sie bereit. Genießen Sie mit „Naturwunder Spessart“ ein Stück Ursprünglichkeit, die in unserer schnelllebigen Welt immer mehr zu kurz kommt. Schätzen Sie unseren Spessart. Jeden Tag ein kleines bisschen mehr.
            </div>
            <div class="media-right">
            
                    <img class="media-object img-thumbnail" src="images/kalender_Dezember.png" alt="Kalender Dezember">
                
            </div>
        </div>

    </div>
    <div class="col-md-4">
        <h4>Jeden Tag ein neuer Text</h4>
        <p>
            Für jeden Kalendertag habe ich einen passenden Text erstellt. So können sie mit ihren Gedanken noch etwas tiefer in das Bild eintauchen und wer weiß, vielleicht ist auch für sie ab und an eine neue Information dabei.
        <br/>
        <br/>
            Hier als Beispiel der 27. Dezember.
        </p>
        
        <div class="well">
            <h4>Frost</h4>
            <p><em>&quot;In seinen Bann gezogen sind Sträucher und Hecken. Die Feuchtigkeit hat die Blätter mit einem weißen Rand gekleidet und lässt die Farbreste der Natur ein letztes Mal leuchten.&quot;</em></p>
        </div>

    </div>

</div>