<h2>Der Naturpark Spessart</h2>

<div class="row">
    <div class="col-md-8">
        <h4>Sein Potential</h4>
        <div class="media">
            <div class="media-body">
                <p>
                    Der <a href="http://www.naturpark-spessart.de/index.php" target="_blank">Naturpark Spessart</a> erstreckt sich über 2.440 km² Fläche, davon gehören 1.710 km² zu Bayern und 730 km² zu Hessen.
                <br/><br/>
                    Das hohe Potential des Spessarts für ein größeres Schutzgebiet ist auch in Forstkreisen seit langem bekannt. In einer Studie von 1992 mit dem Titel „Erfassung und Bewertung großflächiger Waldgebiete zum Aufbau eines Schutzgebiets- systems in der Bundesrepublik Deutschland“ (<a href="http://www.foerderverein-forstzentrum.de/index.php/forstliche-forschungsberichte" target="_blank">Schriftenreihe der Forstwirtschaftlichen Fakultät der Uni München und der bay. Forstlichen Versuchs- und Forschungsanstalt</a>) -><a href="http://www.foerderverein-forstzentrum.de/images/download/FFB-Verzeichnis%202015c.pdf" target="_blank">Verzeichnis Forstliche Forschungsberichte lfd. Nr. 120</a> wird der Spessart als mögliches Waldschutzgebiet genannt.
                </p>


            </div>
            <div class="media-right">
                
                    <img class="media-object img-thumbnail" src="images/banner_EUM3.jpg" alt="Baum mit Pilzen">
                
            </div>
        </div>
        <p>
            Daher wurden ab 2003 auch Teile des Spessarts im Zuge einer europaweiten Kartierung als Natura 2000-Flächen ausgewiesen (hellgrün), um die dort vorhandene biologische Vielfalt zu kennzeichnen und vor einer weiteren Zerstörung zu bewahren. Dem Spessart kommt hierbei eine besondere Rolle zu, denn der Waldbereich im Forstamt Rothenbuch gehört zu dem wertvollen „1%-Rest“ jener deutscher Wälder, die älter als 160 Jahre sind (überwiegend im dunkelgrünen Bereich).
        </p>


    </div>
    <div class="col-md-4">
        <p>
            Die <a href="http://www.bfn.de/0306_zerschneidung.html" target="_blank">Vernetzung von geschützten Lebensräumen</a> wäre ein zusätzlicher wichtiger Schritt, um das Artensterben abzudämpfen.
        </p>
        <div ng-include src="'views/partial.book.html'"></div>
    </div>

</div>
<div class="row">
    <div class="col-md-12 imgcenter"><img src="images/Spessart_031.jpg" alt="Spessart Karte" class="img-responsive" /></div>
    
</div>