<div class="media well">
    <div class="media-left media-middle">
        
            <img src="images/banner_SPESSART2.jpg" alt="Das Buch">
        
    </div>
    <div class="media-body">
        <h4 class="media-heading">Das Buch</h4>
        <p>
            Mächtige Eichen- und Buchen können im Hochspessart noch bewundert werden.
        </p>
    </div>
    <p>
        Hier stehen Bestände von außergewöhnlicher Schönheit. Dies ist ein Grund, warum dieser Wald ein Rückzugsgebiet für viele seltene Tier- und Pflanzenarten bildet und dringend einen besseren Schutz benötigt... in Kürze verfügbar
    </p>
</div>