<h2>FRANK SCHRÖPFER</h2>

<div class="row">
    <div class="col-md-8">
        <h4>Warum ich fotografiere</h4>
        <div class="media">
            <div class="media-body">
                Als ich vor etwa 30 Jahren mit einer kleinen Olympus anfing zu fotografieren, war mir noch nicht klar, was aus diesem Hobby einmal werden würde. Über viele Jahre dokumentierte ich meine Reisen in ferne Länder, kaufte mir eine erste Spiegelreflex und begann die Bilder in Dias zu rahmen. Zugegeben, der Aufwand war enorm. Die Anzahl der Diakästen wuchs, und mit ihnen mein Archiv.
            </div>
            <div class="media-right">
             
                    <img class="media-object img-thumbnail" src="images/frank_schroepfer.png" alt="Frank Schröpfer">
                
            </div>
        </div>
        <div class="media">

            <div class="media-body">
                <p>
                    Mit den Jahren wurde mir klar, daß ein Bild viel mehr ist als einfache Wiedergabe dessen, was man gesehen hat. Fotografie ist ein Kommunikations- mittel, das Emotionen wecken und Botschaften vermitteln kann. Es ist ein Weg mit meinem Umfeld in Kontakt zu treten um für die Natur zu begeistern, die ja selbst nicht zu uns sprechen kann. Denn die Schönheit der Natur liegt nicht in den Dingen selbst. Sie liegt in den Augen derer, die sie betrachten.
                </p>
                <p>
                    Fotografie ist ein großartiges Hobby und ein Werkzeug, für den Schutz der Natur zu werben, denn es braucht Menschen, die in Zukunft für ihren Erhalt kämpft. Mit meinen Bildern möchte ich auf die Schönheiten unserer Heimat aufmerksam machen, denn sie ist es, die wir am nötigsten brauchen.
                </p>
            </div>
            <div class="media-right">
  
                    <img class="media-object img-thumbnail" src="images/frank_schroepfer_2.png" alt="Frank Schröpfer Winter">
                
            </div>
        </div>

    </div>
    <div class="col-md-4">
        <div ng-include src="'views/partial.calendar.html'"></div>
        <div ng-include src="'views/partial.book.html'"></div>
    </div>

</div>